.listNormas li p {
  color:white;
}
span {
  font-weight: bold;
}
@media screen and (min-width: 1024px) {
    .cardContent {
        width:50vw !important;
        justify-content: center !important;
    }
  .imageCard {
    width: 40%;
    border-bottom-left-radius:30px;
    border-bottom-right-radius:30px;
    margin-top: 15px;
  }

  .cardMainContent {
    width:auto;
    display:flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100vw !important;
  }
  .cardMainContent div{
    display:flex;
    justify-content: space-between;
    max-width: 100vw !important;

  }
  .cardFirstContent {
    display:flex;
    flex-direction: column;

  }
  .boxPrice {
    align-self: flex-end;
  }
  .cardTitle {
    font-weight: 400;
    font-size: 25px;
  }

  /* Card Blue */
.cardBlue {
    width:50%;
}
.cardServicios {
  height:35vh !important;
}
.cardServicios:hover {
  height: 36vh !important;
  width: 36vw !important;
  box-shadow: 0px 18px 15px -3px rgba(0,0,0,0.8) !important;
}
.cardAcordeonContainer {
  margin: 5vh auto;
  width:80% !important;
}
}
