ul li a {
    font-size: 23px;}
ul li a:hover {
    font-size:28px;
}
.logoNavbar {
    width: 50px;
    height:50px;
}

@media screen and (min-width:1024px) {
    .logoNavbar {
        width:60px;
        height:60px;
    }
}